<template>

  <footer>
    <section class="footer-content transparent-bg" id="footer-contact">
      <v-container>
        <prismic-rich-text :field="contact.content"></prismic-rich-text>
      </v-container>
    </section>
    <section class="footer-nav transparent-bg">
      <v-container class="d-flex">
        <span>&copy; {{ new Date().getFullYear() }}</span>
        <nav class="ml-auto">
          <template v-for="link in footerNav">
            <nuxt-link :to="'/'+ link.slug">{{ link.title }}</nuxt-link>
          </template>
        </nav>
      </v-container>
    </section>
  </footer>

</template>

<script>
export default {
  name: 'Footer',
  data () {
    return {
      footerNav: this.$store.state.footerNav,
      contact: this.$store.state.contact
    }
  }
}
</script>

<style lang="scss" scoped>
  footer {
    background: #3a3d42;
    padding-top: 1px;
    color: white;
  }

  .footer-content {
    color: white;
    padding-bottom: $spacer * 6;
    &:before {
      background-image: url('/footer-bg.png');
      background-position: center bottom;
      background-repeat: repeat-x;
    }
  }
  .footer-nav {
    border-top: 1px solid #fff;
    padding: 1px;
    &:before {
      background-color: black;
    }
    a {
      color: white;
      padding-left: $spacer * 5;
      font-size: 0.9rem;
      display: inline-block;
      &:hover, &:active, &:focus {
        color: $font-color-primary;
        text-decoration: none
      }
    }
  }
  .transparent-bg {
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0 ;
      top: 0;
      right: 0;
      opacity: 0.13;
      pointer-events: none;
      z-index: 1
    }
  }
</style>
