<template>
  <section class="site-info">
    <div class='container'>
      <div class="flex-center">
        <address-item icon="phone" content="06031 / 161718" link="tel:+49603161718"></address-item>
        <address-item icon="email-outline" content="info(a)friedberg-logopaedie.de" link="mailto:info(a)friedberg-logopaedie.de"></address-item>
        <address-item icon="map-marker" content="Grüner Weg 9, 61169 Friedberg" link="https://www.google.de/maps/place/Praxis+f%C3%BCr+Logop%C3%A4die+Friedberg+-+N%C3%BCchter+u.+Metzger/@50.325463,8.7435022,17z/data=!4m8!1m2!2m1!1slogop%C3%A4die+in+der+N%C3%A4he+von+Friedberg!3m4!1s0x47bd02236ee88955:0xa7966702e4bc4a7b!8m2!3d50.325463!4d8.7456909"></address-item>
      </div>
      <div class="d-flex justify-center align-center flex-wrap">
        <service-item content="Stimm" color="violett"></service-item>
        <service-item content="Sprach" color="blue"></service-item>
        <service-item content="Sprech"></service-item>
        <service-item content="Schluck" color="blue"></service-item>
        <service-item content="Hör" color="violett"></service-item>
      </div>
    </div>
  </section>

</template>

<script>

import addressItem from '@/components/info-address-item';
import serviceItem from '@/components/info-service-item';

export default {
  name: 'Info',
  components: {
    addressItem,
    serviceItem
  }
}

</script>

<style lang="scss" scoped>

  .site-info {
    padding-top: $spacer * 3;
    position: relative;

    &:before {
       content: '';
       display: block;
       position: absolute;
       left: 0;
       right: 0;
       top: -200px;
       bottom: -200px;
       background: #eef3f7;
       z-index: -2;
     }
  }
  .flex-center {
    @media #{map-get($display-breakpoints, 'sm-and-up')} {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

</style>
