<template>
  <div class="info-service-item elevation-4" :class="'info-service-item--' + color">
    <span class="info-service-item--title">{{ content }}</span>
    <span class="info-service-item--subtitle"> therapie</span>
  </div>
</template>

<script>
export default {
  name: 'info-service-item',
  props: {
    color: {
      type: String,
      default: 'green'
    },
    content: String
  }

}
</script>

<style lang="scss" scoped>

  .info-service-item {
    background-color: $font-color-primary;
    color: white;
    font-family: $heading-font-family;
    padding: 16px;
    margin: 16px;
    display: flex;
    align-items: center;
    text-align:  center;
    flex-direction: column;
    justify-content: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    font-size: 0.8rem;
    @media #{map-get($display-breakpoints, 'md-and-up')} {
      width: 136px;
      height: 136px;
      margin: 0;
      margin-right: 32px;
      font-size: 0.9rem;
    }
    &:last-of-type {
      margin-right: 0
    }
  }
  .info-service-item--title {
    font-size: 1.4rem;
    margin-right: $spacer;
    @media #{map-get($display-breakpoints, 'sm-and-up')} {
      display: block;
      margin-right: 0;
    }
  }
  .info-service-item--subtitle {
    position: relative;
  }

  .info-service-item--green {
    background-color: $font-color-primary;
  }
 .info-service-item--blue {
    background-color: $font-color-secondary;
  }
 .info-service-item--violett {
    background-color: $font-color-action;
  }

</style>
