@import 'variables';

html #app.v-application {
  font-size: 14px;
  font-family: $body-font-family;
  color: $font-color-root;
  background: transparent;
  .text-subtitle-1 {
    font-family: $body-font-family !important;
    font-weight: 400;
    font-size: 16px !important;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
  font-weight: 400;
}
h1 {
  font-size: $heading-font-size-h1;
  margin-top: 64px;
}
h2 {
  font-size: $heading-font-size-h2;
  color: #398da9;
  margin-top: 64px;
  .footer-content & {
    color: white;
  }

  .section-cta & {
    color: white !important;
    margin-top: 0 !important;
  }
}
h3 {
  font-size: $heading-font-size-h3;
  margin-top: 28px;
}
h4 {
  font-family: $heading-font-family;
  margin-top: 32px;
}

a {
  color: #499f94;
  text-decoration: none;

  &:not(.v-btn) {
    &:hover, &:visited, &:active, &:focus {
      text-decoration: underline;
    }
  }
}

html .v-application .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
.section-maincontent {
  padding-bottom: 80px;
  padding-top: 40px;
}
