<template>
  <div>
    <Header></Header>
    <v-container>
      <template v-if="error.statusCode === 404">
        <h2>
          Diese Seite ist nicht verfügbar
        </h2>
        <p class="text-subtitle-1">
          Die von Ihnen gesuchte Seite existiert leider nicht oder der Link ist veraltet.
        </p>
        <p>
          <NuxtLink to="/">
            Zurück zur Homepage
          </NuxtLink>
        </p>

      </template>
      <template v-else>
        <h2>
          Ein unerwarteter Fehler ist aufgetreten
        </h2>
        <p class="text-subtitle-1">
          Bitte veruschen Sie es zu einem späteren Zeitpunkt noch einmal.
        </p>
      </template>
    </v-container>
  </div>
</template>

<script>
import Header from '@/components/Header';

export default {
  components: { Header },
  layout: 'empty',
  props: {
    error: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      pageNotFound: '404 Not Found',
      otherError: 'An error occurred',
    }
  },
  head() {
    const title =
      this.error.statusCode === 404 ? this.pageNotFound : this.otherError
    return {
      title,
    }
  },
}
</script>

<style lang="scss" scoped>

  header{
    padding-top: 120px;
    padding-bottom: 120px;
    &:after {
      border-bottom: 10px solid #eef3f7;
    }
  }


</style>
