<template>
  <v-container class="content content-service" id="content-service">
    <prismic-rich-text :field="slice.primary.headline"></prismic-rich-text>
    <p class="text-subtitle-1">
      {{ slice.primary.subheadline }}
    </p>

    <v-row class="content--service-items">
      <v-col v-for="items in slice.items" md="6" sm="12">
        <template v-for="item in items['service-items']">
          <h3 v-if="item.type === 'heading3'">{{ item.text }}</h3>
          <v-list-item v-if="item.type === 'list-item'">
            <v-list-item-icon>
              <v-icon color="info">mdi-check</v-icon>
            </v-list-item-icon>
            <v-list-item-title>{{ item.text }}</v-list-item-title>
          </v-list-item>
        </template>
      </v-col>
    </v-row>

  </v-container>
</template>

<script>
export default {
  name: 'content-service',
  props: ['slice']
}
</script>

<style scoped>

</style>
