<template>
  <v-container class="content">
    <prismic-rich-text :field="content.headline"></prismic-rich-text>
    <div class=" d-md-flex align-center">
      <div class="content-text flex-grow-1">
        <p class="text-subtitle-1">
          {{ content.subheadline }}
        </p>
        <prismic-rich-text :field="content.content"></prismic-rich-text>
      </div>
      <div v-if="content['cta-link'].url" class="content-cta pl1">
        <v-btn :href="content['cta-link'].url" color="accent" large depressed>
          <v-icon v-if="content['cta-icon']" left>mdi-{{ content['cta-icon'] }}</v-icon>
          {{ content['cta-title'] }}
        </v-btn>
      </div>
    </div>
  </v-container>
</template>

<script>
export default {
  name: 'content-text',
  props: ['slice'],
  computed: {
    content() {
      if (this.slice.primary) {
        return this.slice.primary;
      } else {
        return this.slice;
      }
    }
  }
}
</script>

<style scoped>

</style>
