<template>
  <v-container class="content">
    <v-row>
      <v-col v-for="item in slice.items">
        <prismic-image :field="item.image"></prismic-image>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'content-image',
  props: ['slice']
}
</script>

<style lang="scss" scoped>
  img {
    max-width: 100%;
    border-radius: 4px;
  }

  html .v-application .container {
    max-width: 1000px;
  }
</style>
